[defaults]
inventory = ./inventory.yml
host_key_checking = False
gathering = explicit
stdout_callback = yaml
retry_files_enabled = False
interpreter_python = auto_silent

[persistent_connection]
command_timeout = 60
connect_timeout = 60
